/* Layout for search container */
.search {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.js .search {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.btn--search-close {
	font-size: 2em;
	position: absolute;
	top: 1.25em;
	right: 1.25em;
	display: none;
}

.js .btn--search-close {
	display: block;
}

.search__form {
	margin: 0 auto;
	padding: 0 1em;
}

.search__input {
	font-family: var(--font-family-circular_spotify_text-book);
    font-size: 18px;
    line-height: 1.5;
    display: inline-block;
    box-sizing: border-box;
    width: 70%;
    height: 70px;
    max-width: 800px;
    padding: 20px 24px;
    background-color: #CCCCCC36;
    border-radius: 16px;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}

.search__input:focus {
    width: 85%;
    max-width: 1000px;
    height: 80px;
    background-color: #ffffff;
    border-color: #5c32f2;
    box-shadow: 0 6px 30px rgba(92, 50, 242, 0.2);
    outline: none;
}

.search__input::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #5c32f2;
}

.search__input::-moz-placeholder {
	opacity: 1;
	/* Mozilla Firefox 19+ */
	color: #5c32f2;
}

.search__input:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #5c32f2;
}

.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-decoration {
	-webkit-appearance: none;
}

.search__input::-ms-clear {
	display: none;
}

.search__info {
	font-size: 85%;
    font-weight: bold;
    display: block;
    font-family: 'Circular Spotify Text-Bold';
    /*width: 61%; */
    margin: 0 auto;
    padding: 0 .15em 0;
    text-align: right;
    color: #5c32f2;
    position: absolute;
    bottom: 0;
    /* width: 100%; */
    height: 2.5rem;
}

.search__suggestion h3::before {
    content: '\21FE';
    display: inline-block;
    padding: 0 0.5em 0 0;
 }

.search__related{
 display: flex;
    width: 16%;
    padding: 11em 0 0 0;
    pointer-events: none;
    color: #5c32f2;
    font-family: 'Inconsolata', 'Monaco', monospace;
    position: relative;
    margin: 0 0 0% 48%;
}
/* Dummy pages behind the main element that will animate like cards */
.page {
	position: relative;
	perspective: 1000px;
}

.page__single--dummy {
	position: absolute;
	top: 0;
	left: 0;
	width: 115%;
	height: 135%;
	background-color: #f7f7f7;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 75% auto;
}

.page__single:first-child {
    width:100%;
    height:100%;
	background-image: url(../img/bg_7.svg);
}

.page__single:nth-child(2) {
	background-image: url(../img/bg_10.svg);
}

.page__single:nth-child(3) {
	background-image: url(../img/bg_3.svg);
}

.page__single:nth-child(4) {
	background-image: url(../img/bg_11.svg);
}

/************************/
/* Transitions 			*/
/************************/

.js .page--move {
	pointer-events: none;
}

.js .page__single {
	transition: transform 1.2s;
	transition-timing-function: cubic-bezier(0.4, 1, 0.3, 1);
}

.page--move .page__single {
	transition-duration: 1.5s;
}

.js .page__single--dummy {
	transform: translate3d(0, 0, -600px);
}

.page--move .page__single:first-child {
	transform: translate3d(-20%, 80%, -3000px) rotate3d(0,0,1, -22deg);
	transition-duration: 1.8s;
}

.page--move .page__single:nth-child(2) {
	transform: translate3d(100%, -59%, -3500px) rotate3d(0,0,1, 30deg);
	transition-duration: 2s;
}

.page--move .page__single:nth-child(3) {
	transform: translate3d(-160%, 0%, -4500px) rotate3d(0,0,1, 10deg);
	transition-duration: 2.3s;
}

.page--move .page__single:nth-child(4) {
	transform: translate3d(-70%, -150%, -5000px) rotate3d(0,0,1, -10deg);
	transition-duration: 1.7s;
}

.page--move .page__single:nth-child(5) {
	/* main wrap */
	transform: translate3d(0, 0, -2500px) rotate3d(0,0,1, 3deg);
}

.js .search {
	pointer-events: none;
	transform-style: preserve-3d;
}

.js .search--open {
	pointer-events: auto;
}

/* Close button */
.btn--search-close {
	opacity: 0;
	transform: scale3d(0.8, 0.8, 1);
	transition: opacity 0.5s, transform 0.5s;
}

.search--open .btn--search-close {
	opacity: 1;
	transform: scale3d(1, 1, 1);
}

/* Search input */
.js .search__form {
	opacity: 0;
	transform: translate3d(0,0,600px);
}

.js .search--open .search__form {
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 1.2s, transform 1.2s;
	transition-delay: 0.3s;
	transition-timing-function: cubic-bezier(0.4, 1, 0.3, 1);
}

@media screen and (max-width: 40em) {
	.btn--search-close {
		font-size: 1.25em;
	}
	.search__input {
		font-size: 16px;
		width: 95%;
		height: 60px;
		padding: 16px 20px;
	}
	.search__input:focus {
		width: 95%;
		height: 65px;
	}
	.search__info {
		width: 100%;
		text-align: center;
	}
}
